<h2>Por pais</h2>
<hr>
<!--******************** Input ********************-->
<div class="row">
    <div class="col">
       <app-pais-input></app-pais-input>
    </div>
</div>
<!--***************** fin Input ************************-->

<hr>
<!--************************* mensaje de error ********************-->
<div *ngIf="hayError"
 class="alert alert-danger">
    No se encontro el termino
</div>
<!--***************** Fin de Mensaje de error ***********************-->

<!--********************* Tabla **************************-->
<div *ngIf="!hayError" 
 class="row">
    <div class="col">
       <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>
<!--************** Fin de tabla *********************-->